/* LIST #5 */
* { margin: 0; padding: 0; }
body{
	background: #000;
	/*background: #10111F;*/
}
#first{
	min-height: 100vh;
}
#list5 { color:#eee; background-color: black;}
#list5 ol { font-size:18px; }
#list5 ol li { }
#list5 ol li ol { list-style-image: url("../images/nested.png"); padding:5px 0 5px 18px; font-size:15px; }
#list5 ol li ol li a{ color:#bfe1f1; text-decoration: none;}

.listol { color:#eee;}
.listol ol { 
	list-style-image: url("../images/nested.png");
	padding:5px 0 5px 18px; font-size:15px;
}
.listol ol li a{ color:#bfe1f1; text-decoration: none;}

.card-body {
	padding-bottom: 0px;
}

.hr {
	width: 100%;
	height: 1px;
	display: block;
	position: relative;
	margin-bottom: 0em;
	padding: 2em 0;
}
.hr:after, .hr:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 50%;
	left: 0;
}
.hr:before {
	background: linear-gradient(90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100%);
	background-size: 15px;
	background-position: center;
	z-index: 1;
}
.hr:after {
	transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
	transition: opacity 0.3s ease, animation 0.3s ease;
	transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
	background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
	background-size: 200%;
	background-position: 0%;
	-webkit-animation: bar 15s linear infinite;
	      animation: bar 15s linear infinite;
}
@-webkit-keyframes bar {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 200%;
	}
}
@keyframes bar {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 200%;
	}
}
.hr.anim:before {
	background: linear-gradient(90deg, #10111F 0%, #10111F 5%, transparent 5%, transparent 10%, #10111F 10%, #10111F 15%, transparent 15%, transparent 20%, #10111F 20%, #10111F 25%, transparent 25%, transparent 30%, #10111F 30%, #10111F 35%, transparent 35%, transparent 40%, #10111F 40%, #10111F 45%, transparent 45%, transparent 50%, #10111F 50%, #10111F 55%, transparent 55%, transparent 60%, #10111F 60%, #10111F 65%, transparent 65%, transparent 70%, #10111F 70%, #10111F 75%, transparent 75%, transparent 80%, #10111F 80%, #10111F 85%, transparent 85%, transparent 90%, #10111F 90%, #10111F 95%, transparent 95%, transparent 100%);
	background-size: 150px;
	background-position: center;
	z-index: 1;
	-webkit-animation: bar 120s linear infinite;
	      animation: bar 120s linear infinite;
}
.hr.anim:hover:before {
	-webkit-animation-duration: 20s;
	      animation-duration: 20s;
}
.hr.anim:hover:after {
	-webkit-animation-duration: 2s;
	      animation-duration: 2s;
}

/*second*/
#second{
	/*background: #3e6f6b;*/
	/*background: #3e6f6b;*/
	background: #2B4141;
	min-height: 100vh;
}

a { text-decoration: none; }
ul { list-style: none; }

.project-list {
    background:transparent url(../images/graypixel.png) repeat-y scroll 15px 0;
}

.project-list li {
    font-size:16px;
    margin:15px 0 20px;
    padding:0 0 0 10px;
}

.project-list li a {
    background:#2B4141 none repeat scroll 0 0;
    color:#eafb02;
    display:block;
    padding:3px;
}

.project-list li a:hover {
    color:#84B8FF;
}

.project-list li ul li {
    background:transparent url(../images/graypixel.png) repeat-x scroll 0 8px;
    font-size:13px;
    margin:4px 0 4px 5px;
    padding:0 0 0 20px;
}

.project-list li ul li a {
    padding:0 0 0 3px;
}

.project-list li ul li ul {
    background:transparent url(../images/graypixel.png) repeat-y scroll 15px 0;
    margin-bottom:10px;
}

.project-list li ul li ul li {
    margin-left:16px;
    padding-left:10px;
}