<section id="first">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        JAVA
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://stackjava.com/" target="_blank">stackjava</a></li>
                                <li><a href="https://www.geeksforgeeks.org/practice-for-cracking-any-coding-interview/" target="_blank">geeksforgeeks</a></li>
                                <li><a href="https://huongdanjava.com/vi/" target="_blank">huongdanjava</a></li>
                                <li><a href="https://www.java-examples.com/" target="_blank">java-examples</a></li>
                                <li><a href="https://www.javatpoint.com/" target="_blank">javatpoint</a></li>
                                <li><a href="http://www.java2s.com/" target="_blank">java2s</a></li>
                                <li><a href="https://www.youtube.com/watch?v=OiU9cLm2TjE" target="_blank">java2s</a></li>
                                <li><a href="https://kienthuc24h.com/tong-hop-tai-lieu-chuyen-tin-can-thiet/" target="_blank">kienthuc24h</a></li>
                                <li><a href="https://cuongquach.com/category/download/ebook" target="_blank">cuongquach</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        PRACTICE
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://app.codesignal.com/" target="_blank">codesignal</a></li>
                                <li><a href="https://www.hackerrank.com/" target="_blank">hackerrank</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        TỔNG HỢP
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://www.dotnetperls.com/" target="_blank">dotnetperls</a></li>
                                <li><a href="https://appdividend.com" target="_blank">appdividend</a></li>
                                <li><a href="https://scotch.io/" target="_blank">scotch.io</a></li>
                                <li><a href="https://www.generatedata.com/" target="_blank">generatedata</a></li>
                                <li><a href="https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/arrays/" target="_blank">Mảng VB</a></li>
                                <li><a href="https://quangchien.wordpress.com/2013/06/29/think-java/#toc" target="_blank">quangchien</a></li>
                                <li><a href="https://sachit.net/" target="_blank">sachit</a></li>
                                <li><a href="https://www.memrise.com/" target="_blank" title="tranquangtanqt1990@gmail.com">memrise</a></li>
                                <li><a href="https://scotch.io/tutorials/getting-started-with-nestjs" target="_blank">NestJS</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        TOOL CSS
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://cssfx.dev/" target="_blank">cssfx</a></li>
                                <li><a href="http://animista.net/" target="_blank">animista</a></li>
                                <li><a href="https://epic-spinners.epicmax.co" target="_blank">epicmax</a></li>
                                <li><a href="https://easings.net/" target="_blank">easings</a></li>
                                <li><a href="http://www.transformicons.com/builder.html" target="_blank">transformicons</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        HTML-CSS
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://freefrontend.com/" target="_blank">freefrontend</a></li>
                                <li><a href="https://css-tricks.com/" target="_blank">css-tricks</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        RUN CODE
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://rextester.com/" target="_blank">rextester</a></li>
                                <li><a href="https://jsbin.com/" target="_blank">jsbin</a></li>
                                <li><a href="http://sqlfiddle.com/" target="_blank">sqlfiddle</a></li>
                                <li><a href="https://jsfiddle.net/" target="_blank">jsfiddle</a></li>
                                <li><a href="http://ideone.com/" target="_blank">ideone</a></li>
                                <li><a href="http://jsdo.it/" target="_blank">jsdo.it</a></li>
                                <li><a href="https://dotnetfiddle.net/" target="_blank">dotnetfiddle</a></li>
                                <li><a href="https://code.google.com/apis/ajax/playground/" title="Sử dụng API của Google và có thể debug được tất cả code từ một cửa sổ duy nhất" target="_blank">code.google</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b class="hr anim"></b>
        <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        SQL
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="http://www.sqlines.com/online" target="_blank">Convert</a></li>
                                <li><a href="https://wiki.postgresql.org/wiki/Oracle_to_Postgres_Conversion" target="_blank">Oracle_to_Postgres</a></li>
                                <li><a href="https://severalnines.com/database-blog/migrating-oracle-postgresql-what-you-should-know" target="_blank">Oracle_to_Postgres</a></li>
                                <li><a href="http://www.dpriver.com/pp/sqlformat.htm" target="_blank">SQLformat</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        AIT
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="http://172.30.5.100/pe4j/" target="_blank">Mitani PowerEgg</a></li>
                                <li><a href="http://localhost:4848/common/index.jsf" target="_blank">localhost:4848/common/index.jsf</a></li>
                                <li><a href="http://localhost:8080/pe4j/" target="_blank" title="username: ooishi, pass: 123">localhost:8080/pe4j</a></li>
                                <li><a href="http://pm.aureole-it.vn/" target="_blank" title="username: tantq, pass:...">Project Manager</a></li>
                                <li><a href="http://192.168.136.71/" target="_blank">Từ điển</a></li>
                                <li><a href="https://mazii.net" target="_blank">Từ điển mazii</a></li>
                                <li><a href="http://git.aureole-it.vn" target="_blank">git.aureole-it</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        YOUTUBE
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://www.youtube.com/user/DesignCourse/playlists" target="_blank">DesignCourse</a></li>
                                <li><a href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ/playlists" target="_blank">freeCodeCamp</a></li>
                                <li><a href="https://www.youtube.com/user/edurekaIN/playlists" target="_blank">edurekaIN</a></li>
                                <li><a href="https://www.youtube.com/channel/UCbwXnUipZsLfUckBPsC7Jog/playlists" target="_blank">Online Tutorials</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        DEMO CODE
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="democode/index.html" target="_blank">demoViewCode</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        TEST
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="https://viblo.asia/p/180-mau-test-cases-de-kiem-tra-web-va-ung-dung-desktop-danh-sach-kiem-tra-toan-dien-pxvGokgZGLd" target="_blank">Test</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <div class="card">
                    <div class="card-header">
                        TIỆN ÍCH
                    </div>
                    <div class="card-body bg-dark">
                        <div class="listol">
                            <ol>
                                <li><a href="democode/index.html" target="_blank">demoViewCode</a></li>
                                <li><a href="3_lich/lich.html" target="_blank">Lịch</a></li>
                                <li><a href="https://jbt.github.io/markdown-editor/" target="_blank">markdown-editor</a></li>
                                <li><a href="https://sudo.vn/chia-se/mot-so-phan-tu-html-thu-vi-chua-chac-ban-da-biet.html" target="_blank">HTML</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b class="hr anim"></b>
    </div>
</section>

<section id="second">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <ul class="project-list">
                    <li><a href="javascript:void(0)">Sublime text</a>
                        <ul>
                            <li><a href="https://topdev.vn/blog/huong-dan-toi-uu-sublime-text-cho-coder/" target="_blank">Hướng dẫn tối ưu Sublime Text cho coder</a></li>
                            <li><a href="https://techtalk.vn/tong-hop-phim-tat-cua-sublime-text-3.html" target="_blank">Tổng hợp phím tắt của Sublime Text 3</a></li>
                            <li><a href="2/sublimetext/autosave.html" target="_blank">Cài đặt auto save</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <ul class="project-list">
                    <li><a href="#">Tiếng Nhật</a>
                        <ul>
                            <li><a href="https://www.nhk.or.jp/lesson/vietnamese/learn/list/index.html" title="Cung cấp bởi: NHK World. Dành cho những người mới bắt đầu học và trình độ sơ cấp. Nội dung trang web: gồm 50 bài, mỗi bài là một tình huống giao tiếp, cách diễn đạt bằng tiếng Nhật. Bài học được trình bày dưới dạng mp3 có văn bản đính kèm để bạn dễ dàng theo dõi. Cuối mỗi bài đều có phần tổng ôn lại kiến thức đã học. Ngoài ra gắn liền với từng bài là những kinh nghiệm nhỏ sống ở bên Nhật rất hữu ích."
                                    target="_blank">Cùng nhau học tiếng Nhật</a></li>
                            <li><a href="https://www.youtube.com/c/AkiraEduVn-Akira?sub_confirmation=1" target="_blank">AkiraEduVn</a></li>
                            <li><a href="https://j-dict.com/" target="_blank">Từ điển Nhật - Việt</a></li>
                            <li><a href="https://www.vnjpclub.com/minna-no-nihongo/" target="_blank">Minna no nihongo</a></li>
                            <li><a href="https://www.japanesepod101.com" target="_blank">japanesepod101</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <ul class="project-list">
                    <li><a href="#">Linh tinh</a>
                        <ul>
                            <li><a href="https://www.wappalyzer.com/" target="_blank">Xác định công nghệ trên các trang web</a></li>
                            <li><a href="https://topdev.vn/blog/thac-mac-ve-nghe-lap-trinh/" target="_blank">thac-mac-ve-nghe-lap-trinh</a></li>
                            <li><a href="https://topdev.vn/blog/hoc-regular-expression-va-cuoc-doi-ban-se-bot-kho-updated-v2-2/" target="_blank">regular-expression</a></li>
                            <li><a href="https://topdev.vn/blog/7-sai-lam-trong-hoc-javascript/" target="_blank">JS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <b class="hr anim"></b>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <ul class="project-list">
                    <li><a href="#">Link</a>
                        <ul>
                            <li><a href="https://viblo.asia/p/angular-4-tu-a-den-z-Qbq5QLpwlD8" target="_blank">Angular</a></li>
                            <li><a href="https://xuanthulab.net/git-va-github/" target="_blank">git</a></li>
                            <li><a href="https://codepen.io/oliviale/pen/QYqybo" target="_blank">codepencalenda</a></li>
                            <li><a href="https://freefrontend.com/css-calendars/" target="_blank">css-calendars</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
                <ul class="project-list">
                    <li><a href="#">Eclipse</a>
                        <ul>
                            <li><a href="4_eclipse/debug.html" target="_blank">Debug</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <ul class="project-list">
                    <li><a href="#">Video</a>
                        <ul>
                            <li><a href="https://www.youtube.com/playlist?list=PLzrVYRai0riTA1m7Dasg8eraBr6R9nFgC" target="_blank">Angular 4 Khoa Pham</a></li>
                            <li><a href="https://www.youtube.com/watch?v=dEEbQ8LCjzg&list=PLRhlTlpDUWsxSup77UnO2pWEkr4ahTohJ" target="_blank">ASP.NET Core</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLRhlTlpDUWsyK1TIsewrQ7WwC7QkCSCPD" target="_blank">ASP.NET MVC</a></li>
                            <li><a href="https://www.youtube.com/watch?v=V-I7bVzN4S4" target="_blank">Nhạc</a></li>
                            <li><a href="https://youtu.be/hRvJ31HpWY4" target="_blank">Nhạc 1</a></li>
                            <li><a href="https://www.nhaccuatui.com/bai-hat/em-van-chua-ve-dinh-phong-ft-dj-son2m-ft-tanzui.OAckEb0zmRsk.html" target="_blank">Nhạc 2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>